<h1 style="grid-row:{{index}};" class="year">{{year}}</h1>

{% assign langs = "fr,in" | split: "," %}
{%- for lang in langs -%}
	{%- if event[lang] -%}
		<article style="grid-row:{{index}};" class="{{lang}}">
			{%- if event.dates[lang] -%}
				{% assign date = event.dates[lang] %}
				{%- date date -%}
			{%- endif -%}

			{%- markdownify -%}
				{{event[lang]-}}
			{%- endmarkdownify -%}
		</article>
	{%- else -%}
		<p style="grid-row:{{index}};" class="invisible {{lang}}">
	{%- endif -%}
{%- endfor -%}
